@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0b0b0f;
  color: #eaeaf0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
